.git
.gitignore
.env
.env.*.local
node_modules
vendor
bootstrap/cache
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
*.pem
.vscode
.idea
.DS_Store
docker-compose.yml
.editorconfig
.env.example
CHANGELOG.md
composer.lock
package-lock.json
README.md
GUIA*.md
tests
